{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-4">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                <div class="alert alert-warning" role="alert">
                    {% for message in messages %}
                        {{ message }}<br>
                    {% endfor %}
                </div>
                {% endif %}
            {% endwith %}
            <form action="{{ url_for('user.process_registration') }}" method="POST">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.first_name.label }}
                    {{ form.first_name() }}
                </div>
                <div class="form-group">
                    {{ form.last_name.label }}
                    {{ form.last_name() }}
                </div>
                <div class="form-group">
                    {{ form.email.label }}
                    {{ form.email() }}
                </div>
                {{ form.submit }}
            </form>
        </div>
    </div> 
{% endblock %}
